// Variables
$main-white: #f8f8f8;
$main-dark: darkmagenta;
$main-light: #d9264f;
$accent-dark: rgb(92, 9, 92);
$max-width: 1600px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: $main-white;
}

.container {
  max-width: $max-width;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
