header {
  height: 70vw;
  width: 100%;
  padding: 0rem 0.25rem 0.5rem 0.25rem;

  .grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 0.25rem;

    .card {
      overflow: hidden;
      .image {
        overflow: hidden;
        // filter: brightness(75%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    #card1 {
      grid-area: card1;
      .image {
        background-image: url("https://source.unsplash.com/random/1000x400");
        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 50px;
          height: 50px;
          background: #fff;
          filter: brightness(100%);
          transform: rotate(45deg);
          top: -25px;
          right: -25px;
        }
      }
    }

    #card2 {
      grid-area: card2;
      .image {
        background: url("https://source.unsplash.com/random/1234x1458");
      }
    }

    #card3 {
      grid-area: card3;
      .image {
        background: url("https://source.unsplash.com/random/1000x1200");
      }
    }

    #card4 {
      grid-area: card4;
      .image {
        background: url("https://source.unsplash.com/random/1100x1300");
      }
    }

    #card5 {
      grid-area: card5;
      .image {
        background: url("https://source.unsplash.com/random/1202x1402");
      }
    }

    #card6 {
      grid-area: card6;
      .image {
        background: url("https://source.unsplash.com/random/1201x1401");
      }
    }

    #card7 {
      grid-area: card7;
      .image {
        background: url("https://source.unsplash.com/random/1230x1410");
      }
    }

    #card8 {
      grid-area: card8;
      .image {
        background: url("https://source.unsplash.com/random/800x800");
      }
    }
  }
}

.category {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  text-transform: uppercase;
}

.text {
  padding: 1rem;
}

.red {
  background: red;
}
.grey {
  background: grey;
}
.purple {
  background: purple;
}

.card-title-l {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
  text-transform: initial;
  color: black;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
}

.byAuthor {
  #by {
    color: grey;
  }
  color: $main-light;
  font-size: 0.75rem;
}

.grid-xl {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(0, 1.2fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    "card1 card1 card1 card2"
    "card3 card4 card4 card5"
    "card6 card6 card7 card8";
  #card2 {
    height: calc(100% - 35px);
    padding-top: 35px;
  }
}
.grid-l {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(0, 1.25fr) minmax(0, 1fr) minmax(0, 1.25fr) minmax(
      0,
      1fr
    );
  grid-template-areas:
    "card1 card1 card1"
    "card2 card3 card4"
    "card5 card5 card5"
    "card6 card7 card8";
}
.grid-m {
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    minmax(0, 1.25fr) minmax(0, 1fr) minmax(0, 1.25fr) minmax(0, 1fr)
    minmax(0, 1fr);
  grid-template-areas:
    "card1 card1"
    "card2 card3"
    "card4 card4"
    "card5 card6"
    "card7 card8";
}
.grid-s {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, minmax(1fr, 1.5fr));
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "card8";
  #card1 {
    .image {
      min-width: 45vw;
    }
  }
}
