header {
  height: 70vw;
  width: 100%;
  padding: 0.25rem;

  .grid {
    padding: 1rem 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 0.25rem;

    .fullCard {
      position: relative;
      max-height: 100%;
      max-width: 100%;
      .image {
        height: 100%;
        position: relative;
        img {
          position: absolute;
          z-index: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: brightness(50%);
        }
      }

      .text {
        position: absolute;
        z-index: 1;
        bottom: 0;

        .byAuthor {
          span {
            color: white;
          }
          color: white;
          font-size: 0.85rem;
        }
      }
    }
    .halfCard {
      display: flex;
      flex-direction: column;
      height: 100%;
      .image {
        position: relative;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        flex: 1 1 auto;
        flex-basis: 0;
        position: relative;
        .category {
          position: absolute;
          top: -1rem;
        }
        flex-basis: contents;
        // height: 100%;
        .byAuthor {
          span {
            color: grey;
          }
          color: $main-light;
          font-size: 0.75rem;
        }
      }
    }
    .rowCard {
      display: flex;
      flex-direction: row;
      .image {
        position: relative;
        height: 100%;
        min-width: 35vw;
      }
      .text {
        position: relative;
        padding-top: 0;
        .card-title {
          font-size: 1rem;
        }
        .category {
          position: relative;
          top: 0rem;
        }
        width: 100%;

        height: 100%;
        .byAuthor {
          span {
            color: grey;
          }
          color: $main-light;
          font-size: 0.75rem;
        }
      }
    }

    #card1 {
      grid-area: card1;
      .image {
        background-image: url("https://source.unsplash.com/random/1000x400");
      }
    }

    #card2 {
      grid-area: card2;
      .image {
        background: url("https://source.unsplash.com/random/1200x1400");
      }
    }

    #card3 {
      grid-area: card3;
      .image {
        background: url("https://source.unsplash.com/random/1200x1400");
      }
    }

    #card4 {
      grid-area: card4;
      .image {
        background: url("https://source.unsplash.com/random/1200x1400");
      }
    }

    #card5 {
      grid-area: card5;
      .image {
        background: url("https://source.unsplash.com/random/1200x1400");
      }
    }

    #card6 {
      grid-area: card6;
      .image {
        background: url("https://source.unsplash.com/random/1200x1400");
      }
    }

    #card7 {
      grid-area: card7;
      .image {
        background: url("https://source.unsplash.com/random/1200x1400");
      }
    }

    #card8 {
      grid-area: card8;
      .image {
        background: url("https://source.unsplash.com/random/1200x1400");
      }
    }
  }
}

.category {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  text-transform: uppercase;
}

.text {
  padding: 1rem;
}

.red {
  background: red;
}
.grey {
  background: grey;
}
.purple {
  background: purple;
}

.card-title-l {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
  text-transform: initial;
  color: black;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
}

.byAuthor {
  #by {
    color: grey;
  }
  color: $main-light;
  font-size: 0.75rem;
}

.grid-xl {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    "card1 card1 card1 card2"
    "card3 card4 card4 card5"
    "card6 card6 card7 card8";
}
.grid-l {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(0, 1.25fr) minmax(0, 1fr) minmax(0, 1.25fr) minmax(
      0,
      1fr
    );
  grid-template-areas:
    "card1 card1 card1"
    "card2 card3 card4"
    "card5 card5 card5"
    "card6 card7 card8";
}
.grid-m {
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    minmax(0, 1.25fr) minmax(0, 1fr) minmax(0, 1.25fr) minmax(0, 1fr)
    minmax(0, 1fr);
  grid-template-areas:
    "card1 card1"
    "card2 card3"
    "card4 card4"
    "card5 card6"
    "card7 card8";
}
.grid-s {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, minmax(0, 1fr));
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "card8";
}
