header {
  height: 100vh;
  width: 100%;

  .grid {
    padding: 1rem 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "main main main single1"
      "single2 secondary1 secondary1 single3"
      "secondary2 secondary2 single4 single5";

    .fullCard {
      position: relative;
      max-height: 100%;
      max-width: 100%;
      .image {
        height: 100%;
        position: relative;
        img {
          position: absolute;
          z-index: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: brightness(50%);
        }
      }

      .text {
        position: absolute;
        z-index: 1;
        bottom: 0;
      }
    }
    .halfCard {
      display: flex;
      flex-direction: column;
      .image {
        position: relative;
        height: 100%;
        img {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
      .text {
        flex-basis: 0%;
        position: relative;
        .category {
          position: absolute;
          top: -1rem;
        }
        flex-basis: contents;
        height: 100%;
      }
    }

    #card1 {
      grid-area: main;
    }

    #card2 {
      grid-area: secondary1;
    }

    #card3 {
      grid-area: secondary2;
    }

    #card4 {
      grid-area: single1;
    }

    #card5 {
      grid-area: single2;
    }

    #card6 {
      grid-area: single3;
    }

    #card7 {
      grid-area: single4;
    }

    #card8 {
      grid-area: single5;
    }
  }
}

.category {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.text {
  padding: 1rem;
}

.red {
  background: red;
}
.grey {
  background: grey;
}
.purple {
  background: purple;
}

.card-title-l {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
  text-transform: initial;
  color: black;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
}

.byAuthor {
  #by {
    color: grey;
  }
  color: $main-light;
  font-size: 0.75rem;
}
