@media (max-width: 1600px) {
  #podcasts,
  #videos {
    display: none;
  }
  #more,
  #hamburgerPodcasts,
  #hamburgerVideos {
    display: inline-block;
  }
}

@media (max-width: 1500px) {
  nav .container .right-icons .social {
    display: none;
  }
}

@media (max-width: 1200px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides {
    display: none;
  }

  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides {
    display: inline-block;
  }
  nav .searchBar .wrapper input {
    width: 500px;
  }

  header {
    height: 200vh;
    width: 100%;

    .grid {
      padding: 1rem 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1.5fr) minmax(
          0,
          1fr
        );
      grid-template-areas:
        "main main main"
        "single1 single2 secondary1"
        "secondary2 secondary2 secondary2"
        "single3 single4 single5";

      #card2 {
        display: flex;
        flex-direction: column;
        .image {
          position: relative;
          height: 100%;
          img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }
        .text {
          flex-basis: 0%;
          position: relative;
          .category {
            position: absolute;
            top: -1rem;
          }
          flex-basis: contents;
          height: 100%;

          .card-title-l {
            font-size: 1.25rem;
            text-transform: initial;
            color: black;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides,
  #features,
  #reviews {
    display: none;
  }

  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides,
  #hamburgerFeatures,
  #hamburgerReviews {
    display: inline-block;
  }
}

@media (max-width: 700px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides,
  #features,
  #reviews,
  nav .container .function .search #searchIcon {
    display: none;
  }

  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides,
  #hamburgerFeatures,
  #hamburgerReviews {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  nav .container .navigation .links .dropdown a {
    // font-size: 0.7rem;
  }

  nav .container .navigation .links .dropdown:hover .dropdown-content {
    a {
      // font-size: 1rem;
    }
    .drop-categories {
      grid-template-columns: 1fr;
      width: 100%;
      grid-auto-flow: row;
    }

    .drop-all {
      a {
        // font-size: 1rem;
      }
    }
  }

  nav .container .navigation h1 {
    // font-size: 1rem;
    // padding-right: 1.5rem;
  }
}

@media (max-width: 500px) {
  nav .mobile-nav {
    .dropdown-content {
      .drop-categories {
        grid-template-columns: 1fr !important;
        grid-auto-flow: row;
      }
      .drop-all {
        padding-top: 0.25rem;
      }
      left: 0;
      width: 100vw;
      height: 100vh;
    }
    display: flex;
  }

  // nav .mobile-nav-drop {
  //   display: block;
  // }

  nav .container .navigation {
    margin: 0;
    .links {
      display: none;
    }
  }
}

@media (max-width: 370px) {
  nav .mobile-nav {
    display: flex;
  }

  nav .container .navigation {
    margin: 0;
    .links {
      display: none;
    }
  }
}
