@media (max-width: 1600px) {
  #podcasts,
  #videos {
    display: none;
  }
  #more,
  #hamburgerPodcasts,
  #hamburgerVideos {
    display: inline-block;
  }
}

@media (max-width: 1500px) {
  nav .container .right-icons .social {
    display: none;
  }
}

@media (max-width: 1200px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides {
    display: none;
  }

  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides {
    display: inline-block;
  }
}

@media (max-width: 850px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides,
  #features,
  #reviews {
    display: none;
  }

  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides,
  #hamburgerFeatures,
  #hamburgerReviews {
    display: inline-block;
  }
}

@media (max-width: 650px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides,
  #features,
  #reviews,
  nav .container .function .search #searchIcon {
    display: none;
  }

  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides,
  #hamburgerFeatures,
  #hamburgerReviews {
    display: inline-block;
  }
}
