* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #f8f8f8; }

.container {
  max-width: 1600px; }

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

#more,
#hamburgerPodcasts,
#hamburgerVideos,
#hamburgerEsports,
#hamburgerShopping,
#hamburgerGuides,
#hamburgerFeatures,
#hamburgerReviews {
  display: none; }

nav {
  background: linear-gradient(to right, darkmagenta, #d9264f);
  width: 100%; }
  nav .navigation h1 {
    font-size: 1.5rem;
    padding: 0 1rem; }
    nav .navigation h1:hover {
      cursor: pointer; }
  nav .navigation .links #more .dropdown-content {
    right: 0; }
  nav .navigation .links .dropdown {
    display: inline-block;
    position: relative; }
    nav .navigation .links .dropdown .dropdown-content {
      padding: 0.25rem 0.4rem;
      display: none;
      position: absolute;
      z-index: 1; }
      nav .navigation .links .dropdown .dropdown-content a {
        padding: 0.5rem 1rem;
        font-size: 1rem; }
    nav .navigation .links .dropdown:hover {
      background: darkmagenta; }
      nav .navigation .links .dropdown:hover .caret {
        color: #5c095c; }
      nav .navigation .links .dropdown:hover .dropdown-content {
        display: block;
        background: darkmagenta; }
        nav .navigation .links .dropdown:hover .dropdown-content .drop-categories {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-flow: row; }
          nav .navigation .links .dropdown:hover .dropdown-content .drop-categories a {
            white-space: nowrap; }
        nav .navigation .links .dropdown:hover .dropdown-content .drop-all hr {
          margin: 0.25rem 1rem; }
        nav .navigation .links .dropdown:hover .dropdown-content .drop-all a {
          white-space: nowrap;
          font-size: 1.1rem; }
        nav .navigation .links .dropdown:hover .dropdown-content a:hover {
          color: #5c095c; }
  nav .navigation .links a {
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
    padding: 2rem 1rem;
    display: inline-block; }
  nav .right-icons {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .right-icons .social {
      display: flex; }
      nav .right-icons .social i {
        padding: 0.75rem; }
        nav .right-icons .social i:hover {
          color: #5c095c;
          cursor: pointer;
          transition: 0.2s; }
      nav .right-icons .social .button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        margin: 0 auto;
        padding: 0 0.25rem;
        margin: 0 0.75rem;
        font-size: 0.75rem; }
        nav .right-icons .social .button:hover {
          transition: 0.2s;
          cursor: pointer;
          border-color: #5c095c;
          color: #5c095c; }
          nav .right-icons .social .button:hover i {
            color: #5c095c; }
        nav .right-icons .social .button p {
          padding: 0.5rem 0.5rem 0.5rem 0; }
    nav .right-icons .function {
      padding: 0 1rem;
      display: flex; }
      nav .right-icons .function i {
        padding: 2rem 0.75rem; }
      nav .right-icons .function a {
        font-size: 0.85rem;
        text-decoration: none;
        color: white;
        padding: 2rem 1rem;
        display: inline-block; }
      nav .right-icons .function .dropdown {
        display: inline-block;
        position: relative; }
        nav .right-icons .function .dropdown .dropdown-content {
          padding: 0.25rem 0;
          display: none;
          position: absolute;
          z-index: 1; }
          nav .right-icons .function .dropdown .dropdown-content a {
            padding: 0.5rem 1rem;
            font-size: 1rem; }
        nav .right-icons .function .dropdown:hover {
          background: darkmagenta; }
          nav .right-icons .function .dropdown:hover i {
            color: #5c095c;
            cursor: pointer; }
          nav .right-icons .function .dropdown:hover .dropdown-content {
            right: 0;
            display: block;
            background: darkmagenta; }
            nav .right-icons .function .dropdown:hover .dropdown-content .drop-categories {
              display: grid;
              grid-template-columns: 1fr; }
              nav .right-icons .function .dropdown:hover .dropdown-content .drop-categories a {
                padding: 0.5rem 1.5rem;
                white-space: nowrap; }
            nav .right-icons .function .dropdown:hover .dropdown-content .drop-all hr {
              margin: 0 auto;
              width: 80%;
              margin-top: 0.25rem; }
            nav .right-icons .function .dropdown:hover .dropdown-content .drop-all a {
              white-space: nowrap;
              padding: 0.5rem 1.5rem;
              font-size: 1rem; }
            nav .right-icons .function .dropdown:hover .dropdown-content a:hover {
              color: #5c095c !important; }
      nav .right-icons .function .search i:hover {
        cursor: pointer;
        color: #5c095c; }
  nav .searchBar {
    display: none;
    justify-content: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid black;
    height: 5rem; }
    nav .searchBar .wrapper {
      display: flex;
      justify-content: center;
      align-items: center; }
      nav .searchBar .wrapper input {
        height: 4rem;
        font-size: 2rem;
        outline: none;
        border: none;
        width: 800px; }
      nav .searchBar .wrapper button {
        padding: 0.5rem;
        border: none;
        outline: none;
        background-color: #d9264f;
        color: white;
        font-size: 2rem; }
  nav .mobile-nav {
    display: none;
    justify-content: center;
    background: linear-gradient(to right, darkmagenta, #d9264f); }
    nav .mobile-nav a {
      font-size: 0.85rem;
      text-decoration: none;
      color: white;
      padding: 2rem 1rem;
      display: inline-block; }
    nav .mobile-nav .dropdown {
      display: inline-block;
      position: relative; }
      nav .mobile-nav .dropdown .dropdown-content {
        padding: 0.25rem 0;
        display: none;
        position: fixed;
        z-index: 1;
        background: darkmagenta; }
        nav .mobile-nav .dropdown .dropdown-content .drop-categories {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-flow: row; }
          nav .mobile-nav .dropdown .dropdown-content .drop-categories a {
            white-space: nowrap; }
        nav .mobile-nav .dropdown .dropdown-content a {
          white-space: nowrap;
          padding: 1rem 1rem;
          font-size: 1rem; }
          nav .mobile-nav .dropdown .dropdown-content a:hover {
            color: #5c095c; }
        nav .mobile-nav .dropdown .dropdown-content .drop-all hr {
          margin: 0.25rem 1rem; }
  nav .mobile-nav-drop {
    display: none;
    background: darkmagenta; }
    nav .mobile-nav-drop .dropdown-content-gaming {
      height: 100vh; }
      nav .mobile-nav-drop .dropdown-content-gaming .drop-categories {
        display: flex;
        flex-direction: column; }
        nav .mobile-nav-drop .dropdown-content-gaming .drop-categories a {
          color: white;
          text-decoration: none;
          padding: 1rem 1rem 0.5rem 1rem; }

header {
  height: 70vw;
  width: 100%;
  padding: 0.25rem; }
  header .grid {
    padding: 1rem 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 0.25rem; }
    header .grid .fullCard {
      position: relative;
      max-height: 100%;
      max-width: 100%; }
      header .grid .fullCard .image {
        height: 100%;
        position: relative; }
        header .grid .fullCard .image img {
          position: absolute;
          z-index: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: brightness(50%); }
      header .grid .fullCard .text {
        position: absolute;
        z-index: 1;
        bottom: 0; }
    header .grid .halfCard {
      display: flex;
      flex-direction: column; }
      header .grid .halfCard .image {
        position: relative;
        height: 100%; }
        header .grid .halfCard .image img {
          width: 100%;
          max-height: 100%;
          object-fit: cover; }
      header .grid .halfCard .text {
        flex-basis: 0%;
        position: relative;
        flex-basis: contents;
        height: 100%; }
        header .grid .halfCard .text .category {
          position: absolute;
          top: -1rem; }
    header .grid .rowCard {
      display: flex;
      flex-direction: row; }
      header .grid .rowCard .image {
        position: relative;
        height: 100%; }
        header .grid .rowCard .image img {
          width: 35vw;
          height: 100%;
          object-fit: cover; }
      header .grid .rowCard .text {
        position: relative;
        padding-top: 0;
        flex-basis: contents;
        height: 100%; }
        header .grid .rowCard .text .card-title {
          font-size: 1rem; }
        header .grid .rowCard .text .category {
          position: relative;
          top: 0rem; }
    header .grid #card1 {
      grid-area: card1; }
    header .grid #card2 {
      grid-area: card2; }
    header .grid #card3 {
      grid-area: card3; }
    header .grid #card4 {
      grid-area: card4; }
    header .grid #card5 {
      grid-area: card5; }
    header .grid #card6 {
      grid-area: card6; }
    header .grid #card7 {
      grid-area: card7; }
    header .grid #card8 {
      grid-area: card8; }

.category {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block; }

.text {
  padding: 1rem; }

.red {
  background: red; }

.grey {
  background: grey; }

.purple {
  background: purple; }

.card-title-l {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem; }

.card-title {
  font-size: 1.25rem;
  text-transform: initial;
  color: black;
  margin-bottom: 0.5rem; }

p {
  font-size: 0.9rem; }

.byAuthor {
  color: #d9264f;
  font-size: 0.75rem; }
  .byAuthor #by {
    color: grey; }

.grid-xl {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: "card1 card1 card1 card2" "card3 card4 card4 card5" "card6 card6 card7 card8"; }

.grid-l {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(0, 1.25fr) minmax(0, 1fr) minmax(0, 1.25fr) minmax(0, 1fr);
  grid-template-areas: "card1 card1 card1" "card2 card3 card4" "card5 card5 card5" "card6 card7 card8"; }

.grid-m {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, 1.25fr) minmax(0, 1fr) minmax(0, 1.25fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: "card1 card1" "card2 card3" "card4 card4" "card5 card6" "card7 card8"; }

.grid-s {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, minmax(0, 1fr));
  grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8"; }

footer {
  background: darkslategray;
  width: 100%;
  height: 10rem; }
  footer .footer-container {
    max-width: 1100px;
    margin: 0 auto;
    background: blue;
    height: 100%; }

@media (max-width: 1600px) {
  #podcasts,
  #videos {
    display: none; }
  #more,
  #hamburgerPodcasts,
  #hamburgerVideos {
    display: inline-block; } }

@media (max-width: 1500px) {
  nav .container .right-icons .social {
    display: none; } }

@media (max-width: 1200px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides {
    display: none; }
  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides {
    display: inline-block; }
  nav .searchBar .wrapper input {
    width: 500px; } }

@media (max-width: 850px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides,
  #features,
  #reviews {
    display: none; }
  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides,
  #hamburgerFeatures,
  #hamburgerReviews {
    display: inline-block; } }

@media (max-width: 700px) {
  #podcasts,
  #videos,
  #esports,
  #shopping,
  #guides,
  #features,
  #reviews,
  nav .container .function .search #searchIcon {
    display: none; }
  #more,
  #hamburgerVideos,
  #hamburgerEsports,
  #hamburgerShopping,
  #hamburgerGuides,
  #hamburgerFeatures,
  #hamburgerReviews {
    display: inline-block; } }

@media (max-width: 600px) {
  nav .container .navigation .links .dropdown:hover .dropdown-content .drop-categories {
    grid-template-columns: 1fr;
    width: 100%;
    grid-auto-flow: row; } }

@media (max-width: 500px) {
  nav .mobile-nav {
    display: flex; }
    nav .mobile-nav .dropdown-content {
      left: 0;
      width: 100vw;
      height: 100vh; }
      nav .mobile-nav .dropdown-content .drop-categories {
        grid-template-columns: 1fr !important;
        grid-auto-flow: row; }
      nav .mobile-nav .dropdown-content .drop-all {
        padding-top: 0.25rem; }
  nav .container .navigation {
    margin: 0; }
    nav .container .navigation .links {
      display: none; } }

@media (max-width: 370px) {
  nav .mobile-nav {
    display: flex; }
  nav .container .navigation {
    margin: 0; }
    nav .container .navigation .links {
      display: none; } }
